<div class = "side-bar-header">
  <div class = "header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class = "create-room">
    <%= link_to "チャットを作成する", new_room_path%>
  </div>
</div>


<div class = "rooms">
  <% current_user.rooms.each do |room| %>
    <div class = "room">
      <div class = "room-name">
        <a href = "#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>

<%# 2行目の 「|room|」の部分は変数名なので命名規則はない.
今回は分かりやすいように「room」としている。
また、room.nameの「name」は、roomsテーブルのカラム名。 %>